@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MarkPro';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: local('MarkPro-Book'),
    url(@/assets/fonts/MarkPro-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'MarkPro';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: local('MarkPro-Bold'),
    url(@/assets/fonts/MarkPro-Bold.ttf) format('truetype');
}
